<h1>商品一覧(全<%= @items.count %>件)</h1>

<% @items.each do |item| %>
  <div class="item">
    <p><%= attachment_image_tag item, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></p>
    <p><%= link_to item.name, item_path(item.id) %></p>
    <p>￥<%= item.no_tax_price %></p>
  </div>
<% end %>
